body {
  padding-top: 80px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: rgba(65, 67, 106,.3);
  color:white;
}
.navbar-custom {
  background-color: rgb(8, 138, 149);
  font-size: 25px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: wheat;
    font-size: 30px;
}

h1 {
  font-size: 65px;
  color:rgb(205, 167, 21);
}
h2{
  font-size:40px ;
  color:rgb(255, 239, 202);;
}
.portfolio-project h2{
  font-size: 60px;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  margin-left: 20vw;
  margin-right: 20vw;
}
.container-about-me{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap:70px;
  margin-top: 5vh;
 
}
.about-me{
  font-size: 25px;
  width: 300px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.description-container h1 {
  text-align: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.portfolio-project {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 90px;
  margin-bottom: 20px;
}
.portfolio-project img {
  width: 40%;
  height: auto;
}
.project-content {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 768px) {

  .project-content {
    margin-left: 0;
    font-size: 18px;
  }
  .portfolio-project {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    row-gap: 30px;
  }
  .portfolio-project img {
    width: 80%;
    height: auto;
  }
  .portfolio-project h2{
    font-size: 40px;
  }
  h1 {
    
    font-size: 2em;
  }
  .form-inputs {
    display: flex;
    flex-direction: column;
  }
  .container-about-me{
    display:flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .services-container {
    text-align: center;
    margin-bottom: 20px;
  }

}
.form-inputs {
  display: flex;
  justify-content: space-between;
}
.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.formrow {
  margin: 20px 20px;
}
.form-message textarea {
  width: 100%;
}

/* @media (max-width: 800px) {
    .form-content {
      flex: 100%;
    }
  } */
.services-container {
  margin-top:70px;
  text-align: center;
  margin-bottom: 20px;
}
.logos-container{
    display: flex;
    column-gap: 60px;
    justify-content: center;
    margin-bottom: 30px;
    align-content: center;
}
